<!DOCTYPE html>
<html>
    <head>
        <title> Ordered </title>
        <link
            rel="stylesheet"
            type="text/css"
            media="screen"
            href="customer_2.css"
        />
        <meta charset="utf-8">
    </head>
    <body>
        <div class="title">
            已送出訂單
        </div>
        <div class="container">
            <p id="ordered_content"> 訂單內容 </p>
            <table id="ordered_list" border="1px">
                <tr>
                    <td width="200px">商品名稱</td>
                    <td width="200px">商品編號</td>
　                   </tr>
　                   <tr>
　                       <td>炸物拼盤</td>
　                       <td>000011</td>
　                   </tr>
                     <tr>
　                       <td>今日特調</td>
　                       <td>000012</td>
　                   </tr>
            </table>
        </div>
        <div class="message">
            請耐心等候
        </div>
        <div class="main__button">
            <button type="button"> 回首頁 </button>
        </div>
        <script src="main.js"></script>
    </body>
</html>